.action__choose {
  width: 280px;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .action__choose {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 595px;
    z-index: 10;
    margin-left: 121px;
    padding: 14px 26px;
  }
}
