.advantages {
  padding: 0 21px 21px 21px;
}

.advantages__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
}

.advantages__item {
  position: relative;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: @basic-green;
}

.advantages__item-leaf:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 32px;
  bottom: 9px;
  padding: 0 14px;
  background: url("../img/icon_leaf.svg") no-repeat center;
}

.advantages__item-powder:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 32px;
  bottom: 9px;
  padding: 0 14px;
  background: url("../img/icon__powder.svg") no-repeat center;
}

.advantages__item-eat:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 32px;
  bottom: 9px;
  padding: 0 14px;
  background: url("../img/icon_eat.svg") no-repeat center;
}

.advantages__item-watch:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 32px;
  bottom: 9px;
  padding: 0 14px;
  background: url("../img/icon__watch.svg") no-repeat center
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__description {
  margin-left: 82px;
}
