.programmes {
  width: 280px;
  min-height: 266px;
  background-color: #F2F2F2;
}

.programmes__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programmes__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}
